# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
backend/__pycache__/    
# C extensions
*.so

# Virtual environment folders
env/
venv/
sikhaenv/
backend/sikhaenv/
# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Test outputs
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml

# IDE / editor configurations
.vscode/
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
backend/.env
# Environment variables
.env
.env.*
*.env

# Pytest cache
.pytest_cache/

# Ignore database files
*.sqlite3
*.db

# Ignore sensitive FastAPI files (if any)
*.pem
*.key
